{% load static from staticfiles %}
<!DOCTYPE html>
<html id="{% block page_id %}{% endblock %}" class="{% block page_type %}{% endblock %}" xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_desc %}{% endblock %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />

        {% block head %}{% endblock %}
        
        {% if not DEBUG %}<!-- Analytics -->{% endif %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        <div id="templates" style="display: none;">
            {% block templates %}{% endblock %}
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        {% block scripts %}{% endblock %}
        
        <script type="text/javascript">
            $(function(){
                window.templates = $('#templates').detach();
                {% block onload %}{% endblock %}
            });
        </script>
    </body>
</html>